In [3]:
# import libraries
import pandas as pd
import numpy as np
import os

In [4]:
path = r'C:\Users\vikra\Instacart Basket Analysis 06_24'

In [5]:
df_ords = pd.read_csv(r'C:\Users\vikra\Instacart Basket Analysis 06_24\Data\Original Data\orders.csv', index_col = False )
df_prods = pd.read_csv( r'C:\Users\vikra\Instacart Basket Analysis 06_24\Data\Original Data\products.csv', index_col = False)

In [1]:
# Define a dictionary containing January 2020 data
data1 = {'customer_id':['6732', '767', '890', '635'],
    'month':['Jan-20', 'Jan-20', 'Jan-20', 'Jan-20'],
    'purchased_meat':[0, 13, 3, 4],
    'purchased_alcohol':[1, 2, 10, 0],
    'purchased_snacks':[10, 5, 1, 7]}

In [6]:
data1

{'customer_id': ['6732', '767', '890', '635'],
 'month': ['Jan-20', 'Jan-20', 'Jan-20', 'Jan-20'],
 'purchased_meat': [0, 13, 3, 4],
 'purchased_alcohol': [1, 2, 10, 0],
 'purchased_snacks': [10, 5, 1, 7]}

In [2]:
# Define a dictionary containing February 2020 data
data2 = {'customer_id':['6732', '767', '890', '635'],
    'month':['Feb-20', 'Feb-20', 'Feb-20', 'Feb-20'],
    'purchased_meat':[0, 10, 5, 3],
    'purchased_alcohol':[2, 4, 14, 0],
    'purchased_snacks':[15, 3, 2, 6]}

In [7]:
data2

{'customer_id': ['6732', '767', '890', '635'],
 'month': ['Feb-20', 'Feb-20', 'Feb-20', 'Feb-20'],
 'purchased_meat': [0, 10, 5, 3],
 'purchased_alcohol': [2, 4, 14, 0],
 'purchased_snacks': [15, 3, 2, 6]}

In [14]:
#Convert the dictionary into dataframe
df = pd.DataFrame(data1,index=[0, 1, 2, 3])
df_1 = pd.DataFrame(data2,index=[0, 1, 2, 3])

In [15]:
df

  customer_id   month  purchased_meat  purchased_alcohol  purchased_snacks
0        6732  Jan-20               0                  1                10
1         767  Jan-20              13                  2                 5
2         890  Jan-20               3                 10                 1
3         635  Jan-20               4                  0                 7

In [16]:
df_1

  customer_id   month  purchased_meat  purchased_alcohol  purchased_snacks
0        6732  Feb-20               0                  2                15
1         767  Feb-20              10                  4                 3
2         890  Feb-20               5                 14                 2
3         635  Feb-20               3                  0                 6

In [18]:
frames = [ df, df_1]
df_concat = pd.concat(frames)

In [19]:
df_concat

  customer_id   month  purchased_meat  purchased_alcohol  purchased_snacks
0        6732  Jan-20               0                  1                10
1         767  Jan-20              13                  2                 5
2         890  Jan-20               3                 10                 1
3         635  Jan-20               4                  0                 7
0        6732  Feb-20               0                  2                15
1         767  Feb-20              10                  4                 3
2         890  Feb-20               5                 14                 2
3         635  Feb-20               3                  0                 6

In [20]:
df_concat = pd.concat(frames, axis = 1)

In [21]:
df_concat

,customer_id,month,purchased_meat,purchased_alcohol,purchased_snacks,customer_id,month,purchased_meat,purchased_alcohol,purchased_snacks
0,6732,Jan-20,0,1,10,6732,Feb-20,0,2,15
1,767,Jan-20,13,2,5,767,Feb-20,10,4,3
2,890,Jan-20,3,10,1,890,Feb-20,5,14,2
3,635,Jan-20,4,0,7,635,Feb-20,3,0,6

In [22]:
data3 = {'customer_id':['6732', '767', '890', '635'],
    'month':['Jan-20', 'Jan-20', 'Jan-20', 'Jan-20'],
    'days_purchased_on':[0, 10, 4, 1]}

df_2 = pd.DataFrame(data3,index=[0, 1, 2, 3])

In [23]:
df_merged = df.merge(df_2, on = 'customer_id')

In [24]:
df_merged

,customer_id,month_x,purchased_meat,purchased_alcohol,purchased_snacks,month_y,days_purchased_on
0,6732,Jan-20,0,1,10,Jan-20,0
1,767,Jan-20,13,2,5,Jan-20,10
2,890,Jan-20,3,10,1,Jan-20,4
3,635,Jan-20,4,0,7,Jan-20,1

In [27]:
df_merged = df.merge(df_2, on = ['customer_id','month'])

In [28]:
df_merged

,customer_id,month,purchased_meat,purchased_alcohol,purchased_snacks,days_purchased_on
0,6732,Jan-20,0,1,10,0
1,767,Jan-20,13,2,5,10
2,890,Jan-20,3,10,1,4
3,635,Jan-20,4,0,7,1

In [30]:
df_merged = df.merge(df_2, on = ['customer_id','month'], indicator = True )

In [31]:
df_merged

,customer_id,month,purchased_meat,purchased_alcohol,purchased_snacks,days_purchased_on,_merge
0,6732,Jan-20,0,1,10,0,both
1,767,Jan-20,13,2,5,10,both
2,890,Jan-20,3,10,1,4,both
3,635,Jan-20,4,0,7,1,both

In [32]:
# Test merge without overwriting
pd.merge(df,df_2, on = ['customer_id', 'month'], indicator = True)

,customer_id,month,purchased_meat,purchased_alcohol,purchased_snacks,days_purchased_on,_merge
0,6732,Jan-20,0,1,10,0,both
1,767,Jan-20,13,2,5,10,both
2,890,Jan-20,3,10,1,4,both
3,635,Jan-20,4,0,7,1,both

In [33]:
df_ords_prior = pd.read_csv( r'C:\Users\vikra\Instacart Basket Analysis 06_24\Data\Original Data\orders_products_prior.csv', index_col = False)

In [34]:
df_ords_prior.shape

(32434489, 4)

In [45]:
df_ords.shape

(3421083, 7)

In [35]:
df_ords_prior.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [36]:
df_ords.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [37]:
df_ords_prior_merged = df_ords_prior.merge(df_ords, on = ['order_id'])

In [38]:
df_ords_prior_merged

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,202279,prior,3,5,9,8.0
1,2,28985,2,1,202279,prior,3,5,9,8.0
2,2,9327,3,0,202279,prior,3,5,9,8.0
3,2,45918,4,1,202279,prior,3,5,9,8.0
4,2,30035,5,0,202279,prior,3,5,9,8.0
...,...,...,...,...,...,...,...,...,...,...
32434484,3421083,39678,6,1,25247,prior,24,2,6,21.0
32434485,3421083,11352,7,0,25247,prior,24,2,6,21.0
32434486,3421083,4600,8,0,25247,prior,24,2,6,21.0
32434487,3421083,24852,9,1,25247,prior,24,2,6,21.0
32434488,3421083,5020,10,1,25247,prior,24,2,6,21.0

In [42]:
df_ords_prior_merged = df_ords_prior.merge(df_ords, on = 'order_id',indicator = True)

In [44]:
df_ords_prior_merged['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [ ]:
# Export data to csv

df_ords_prior_merged.to_csv(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.csv'))

# Export data to pkl

df_ords_prior_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))

In [76]:
df_ords_prior_merged.shape

(32434489, 11)

In [80]:
for col in df_ords_prior_merged.columns.tolist():
  weird = (df_ords_prior_merged[[col]].map(type) != df_ords_prior_merged[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords_prior_merged[weird]) > 0:
    print (col)

In [81]:
for col in df_prods.columns.tolist():
  weird = (df_prods[[col]].map(type) != df_prods[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_prods[weird]) > 0:
    print (col)

In [93]:
df_prods_nan = df_prods[ df_prods['product_name'].isnull() == True]

In [94]:
df_prods_nan

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id, prices]
Index: []

In [95]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [60]:
df_prods.dropna(subset = ['product_name'], inplace = True)

In [61]:
df_prods.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
prices           0
dtype: int64

In [62]:
df_ords_prior _merged.isnull().sum()

order_id                        0
product_id                      0
add_to_cart_order               0
reordered                       0
user_id                         0
eval_set                        0
order_number                    0
order_dow                       0
order_hour_of_day               0
days_since_prior_order    2078068
_merge                          0
dtype: int64

In [63]:
df_ords_prior_merged['days_since_prior_order'].fillna(7, inplace= False)

0            8.0
1            8.0
2            8.0
3            8.0
4            8.0
            ...
32434484    21.0
32434485    21.0
32434486    21.0
32434487    21.0
32434488    21.0
Name: days_since_prior_order, Length: 32434489, dtype: float64

In [64]:
df_dups_new = df_prods[df_prods.duplicated()]

In [65]:
df_dups_new

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [66]:
df_prods_no_dups = df_prods.drop_duplicates()

In [67]:
df_dups = df_ords_prior_merged[df_ords_prior_merged.duplicated()]

In [68]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order, _merge]
Index: []

In [69]:
df_prods_no_dups.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [74]:
df_prods_no_dups.shape

(49672, 5)

In [70]:
df_ords_prior_merged.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered', 'user_id',
       'eval_set', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', '_merge'],
      dtype='object')

In [75]:
df_ords_prior_merged.shape

(32434489, 11)

In [ ]:
df_merged = df.merge(df_2, on = ['customer_id','month'], indicator = True )

In [1]:
df_ords_prior_merged.dtypes

NameError: name 'df_ords_prior_merged' is not defined

In [97]:
df_order_product_merged = df_ords_prior_merged.merge(df_prods, on = 'product_id')

MemoryError: Unable to allocate 247. MiB for an array with shape (32406041,) and data type int64

In [ ]:
    df_orders_products_merged['_merge'].value_counts()

In [ ]:
df_order_product_merged.to_csv(os.path.join(path, 'Data','Prepared Data', 'orders_products_final.csv'))

In [ ]:
    df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [92]:
    df_ords_prior_merged = df_ords_prior_merged.drop(columns = ['eval_set', '_merge'], axis=0, inplace=True)

KeyError: "['eval_set', '_merge'] not found in axis"